let AMBER = #FF9E24;
/* BICO */
::-webkit-scrollbar {
	width:6px;
    background-color:#626262; 
}

.scrollbar
{
	margin-left: 22px;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	margin: auto;
}

/*
 *  STYLE 1
 */


.b1-bico-scroll {
	float: right;
	position: absolute;
	left: 2px;
	top: 170px; 
	right: 5px;
	height: 247px;
    overflow-y: scroll;
    overflow-x:hidden;
    color: #FF9E24; 
    padding-left: 8px;
    
}

.b1-bico-scroll::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
.b1-bico-scroll::-webkit-scrollbar-button:increment{
	width: 11px;
  	height: 23px;
  	background: url(../images/scroll_button_down.png) no-repeat center center;
  	
  }
.b1-bico-scroll::-webkit-scrollbar-button:decrement{
	width: 11px;
  	height: 23px;
  	background: url(../images/scroll_button_up.png) no-repeat center center;
  	
  }
.b1-bico-scroll::-webkit-scrollbar-thumb {
	height: 21px;
	background-color: #626262;
	
	background-image:url(../images/scroll_button.png);
	background-repeat: no-repeat;
}
.b1-bico-scroll::-webkit-scrollbar-track {
	background-color: #1C1C1C;
}

.b1-blank-row{
	height: 15px;
}
/*
.b1-bico-content{
	position: absolute;
	left: 2px;
	top: 0px;
	right: 11px;
	height: 4000px;
	background-color: #000000;
} */

.b1-bico-heading{
	position: absolute;
	left: 8px;
	top: 9px; 
	right: 400px;
	height: 9px;
	color: #d8d8d8;
}
.b1-bico-section-chapter{
	left: 8px;
	right: 400px;
	font-weight: bold;
	font-stretch: expanded;
	margin-bottom: 20px;
	margin-right: 5px;
	color: #FFFFFF;
	border-bottom: 1px solid #414141;
}
.b1-bico-section-chapter-subheading{
	left: 8px;
	right: 400px;
	height: 25x;
	font-size: 95%;
	margin-right: 5px;
	color: #FFD34F;
}
.b1-bico-section-heading-row{
	display: flex;
}
.b1-bico-section-heading{
	float: left;
	left: 8px;
	right: 400px;
	height: 21px;
	font-weight: bold;
	top: 8px;
	color: #d8d8d8;
	font-size: 15px;
}
.b1-bico-section-heading-bit-option{
	width: 26px;
	height: 15px;
	margin: 4px 2px 2px 2px;
	background-repeat: no-repeat;
	background-image: url(../images/bit_option.png);
	background-size: 22px 13px;
}
.b1-bico-subheading-row{
	display: flex;
}
.b1-bico-subheading1{
	left: 8px;
	height: 25px;
	padding-top: 4px;
	color: #797E85;
}
.b1-bico-subheading{
	float: left;
	left: 8px;
	height: 25px;
	padding-top: 4px;
	color: #797E85;
}

div.wrap-div-topSpacer{
	width: 0px;
	height: 180px;
}
.b1-bico-paragraph{
	top: 10px;
	margin: 0px 10px 0 0;
	color: #CE9300;
	background-color: #000;
	text-align: justify;
}
.b1-bico-toc-container{
	display: flex;
	width: 347px;
}
.b1-bico-toc-item-row{
	display: flex;
	margin: 5px;
	width: 50%;
}
.b1-bico-toc-item-cell{
	margin: 1px;
	color: #53B2F5;
	font-size: 12px;
}

a.b1-bico-toc-item-cell {
	margin: 1px;
	color: #53B2F5
}
.b1-bico-top{
	margin: 1px;
	color: #53B2F5
	text-decoration: none;
	width: 695px;
	text-align: right;
}
.b1-bico-subheading-container{
	display: flex;
}

.b1-bico-subheading-item{
	margin-right: 8px;
}

.b1-bico-toc-item-cell-heading{
	margin: 1px;
	height: 15px;
	color: #989898;
}
.b1-bico-toc-item-cell-heading2{
	margin: 1px;
	height: 15px;
	color: #989898;
	border-top: 1px solid #414141;
}
.b1-bico-toc-financial-section{
	top: 10px;
	float: right;
	width: 50%;
	padding: 0px 10px 10px 10px;
	margin-left:15px;
}
.b1-bico-chart2-section{
	float: right;
	width: 360px;
	height: 210px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart2.png);
}
.b1-bico-chart3-section{
	float: right;
	width: 360px;
	height: 210px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart3.png);
}
.b1-bico-chart4-section{
	float: right;
	width: 360px;
	height: 210px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart4.png);
}
.b1-bico-chart5-section{
	float: right;
	width: 360px;
	height: 210px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart5.png);
}
.b1-bico-chart6-section{
	float: right;
	width: 360px;
	height: 220px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart6.png);
}
.b1-bico-chart7-section{
	float: right;
	width: 360px;
	height: 221px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart7.png);
}
.b1-bico-chart8-section{
	float: right;
	width: 360px;
	height: 221px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart8.png);
}
.b1-bico-chart9-section{
	float: right;
	width: 360px;
	height: 219px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart9.png);
}
.b1-bico-chart10-section{
	float: right;
	width: 360px;
	height: 221px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart10.png);
}
.b1-bico-chart11-section{
	float: right;
	width: 360px;
	height: 219px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart11.png);
}
.b1-bico-chart12-section{
	float: right;
	width: 360px;
	height: 217px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart12.png);
}
.b1-bico-chart13;
	width: 360px;
	height: 220px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart13.png);
}
.b1-bico-chart14-section{
	float: right;
	width: 360px;
	height: 218px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart14.png);
}
.b1-bico-chart15-section{
	float: right;
	width: 360px;
	height: 220px;
	margin: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-image: url(../images/chart15.png);
}

.b1-bico-table{
	color: #CAD8D8;
	float: left;
	width: 100%;
	
}
.b1-bico-table1{
	color: #CAD8D8;
	float: left;
}
.b1-bico-table2{
	color: #CAD8D8;
	float: right;
}

.b1-bico-table-heading{
	height: 15px;
	color: #989898;
}
.b1-bico-table-heading-2{
	float: left;
	color: #989898;
	height: 25px;
	border-top: 1px solid #414141;
	width: 100%;
}
.b1-bico-table-item-up{
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-image: url(../images/green_up_arrow.png);
	color: #000000;
}
.b1-bico-table-item-down{
	float: left;
	width: 15px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-image: url(../images/red_down.png);
	color: #000000;
}
.b1-bico-table-item-diamond{
	float: left;
	width: 15px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-image: url(../images/yellow_diamond.png);
	color: #000000;
}
.b1-bico-table-item-new{
	background-repeat: no-repeat;
	background-image: url(../images/new.png);
	width: 20px;
	height: 15px;
	margin: 5px;
	color: #000000;
}

.b1-bico-table-item-2{
	float: left;
	color: #53B2F5;
	width: 100%;
	font-size: 12px;
}
.b1-bico-key-points-heading{
	left: 8px;
	right: 400px;
	height: 21px;
	top: 8px;
	color: #d8d8d8;
	font-size: 15px;
	padding-left:1px;
	padding-top:1px;
}
.b1-bico-key-points-row:{
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
	color: #53B2F5;
}
.b1-bico-key-points-bullet{
	height:15px;
	color: #f09000;
	margin-right: 10px;
}
.b1-bico-key-points-bullet-link{
	height: 15px;
	color: #53B2F5;
	float: left;
	left: 8px;
}


.b1-bico-key-points{
	left: 5px;
	color: #f09000;
}

.b1-bico-key-points-content{
	left: 8px;
	color: #CE9300;
}

#popoutEE, #popoutBI1, #popoutFA, #popoutBI2,#popoutBI3 ,#popoutNSN, #popoutDOCC{
	width: 19px;
	height:19px;
	background-image: url(../images/popout48.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 14px 14px;
	display: inline-block;
	line-height: 20px; 
	margin-bottom: -3px;
}
#popoutEE_2, #popoutBI1_2, #popoutFA_2, #popoutBI2_2,#popoutBI3_2 ,#popoutNSN_2, #popoutDOCC_2{
	width: 19px;
	height:19px;
	background-image: url(../images/popOutFifthWindow1.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: 14px 14px;
	display: none;
	line-height: 20px; 
	margin-bottom: -3px;
}
#b1-optionD-grid, #b1-optionD-grid2{
	display: none;
	width: 355px;
	margin-bottom: 7px;
}

#drillEE, #drillBI1, #drillFA, #drillBI2,#drillBI3,#drillNSN,#drillDOCC{
	cursor: pointer;
	font-size: 14px;
	line-height:20px;
	text-decoration: none;
}
#drillEE:hover, #drillBI1:hover, #drillFA:hover, #drillBI2:hover,#drillBI3:hover,#drillNSN:hover,#drillDOCC:hover{
	border-bottom: 2px dotted;
	position: relative;
}


#popoutEE:hover, #popoutBI1:hover, #popoutFA:hover, #popoutBI2:hover,#popoutBI3:hover ,#popoutNSN:hover, #popoutDOCC:hover{
	background-color: #282828;
}
#popoutEE_2:hover, #popoutBI1_2:hover, #popoutFA_2:hover, #popoutBI2_2:hover,#popoutBI3_2:hover ,#popoutNSN_2:hover, #popoutDOCC_2:hover{
	background-color: #282828;
}
#pipeEE, #pipeBI1,#pipeFA,#pipeBI2,#pipeBI3,#pipeNSN,#pipeDOCC{
	border-right: 2px solid #505050;
	width: 3px;
	height: 14px;
	margin-right: 3px;
	margin-left: 3px;
	display: inline-block;
	line-height: 22px;
}

.b1-bico-key-points-drilldown:hover{
	border: 1px solid #FFFFFF;
}

td.column1{
	background-color: #191919;
	cursor: pointer;
	font-size: 14px;
	column-width: 269px;
	padding-top: 4px;
	padding.bottome: 8px;
	border: 1px solid #191919;
}

#drillEE_D, #drillBI1_D, #drillFA_D, #drillBI2_D ,#drillBI3_D,#drillNSN_D, #drillDOCC_D{
	font-size: 14px;
	background-color: #191919;
    border-spacing:1px 1px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    width: 294px;
    line-height: 20px;
}

td.column1:hover {	
	border: 1px solid #FFFFFF;
}

td.column2{
	font-size: 12px;
	background-color: #191919;
	cursor: pointer;
	column-width: 27px;
	margin-top:6px;
	border: 1px solid #191919;
}
td.column2:hover{
	border: 1px solid #FFFFFF;
}
#column2a,#column2b,#column2c,#column2d,#column2e,#column2f,#column2g{
	font-size: 12px;
	background-color: #191919;
	cursor: pointer;
	column-width: 27px;
	margin-top:6px;
	border: 1px solid #191919;
}

#column2a:hover ,#column2b:hover, #column2c:hover,#column2d:hover, #column2e:hover, #column2f:hover, #column2g:hover{
	border: 1px solid #FFFFFF;
}
#popoutEE_D, #popoutBI1_D, #popoutFA_D, #popoutBI2_D,#popoutBI3_D ,#popoutNSN_D ,#popoutDOCC_D  {
	width: 12px;
	height: 14px;
	background-image: url(../images/popout48.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 14px 14px;
	background-color: #191919;
	display: inline-block;
	margin-left:8px;
	margin-top: 5px;
}

#popoutEE_D:hover, #popoutBI1_D:hover, #popoutFA_D:hover, #popoutBI2_D:hover,#popoutBI3_D:hover ,#popoutNSN_D:hover ,#popoutDOCC_D:hover  {
	
}

.b1-bico-scroll ul {
	color: #CE9300;
}
ul.b1-bico-key-point-list, ul.b1-bico-key-point-list2{
	list-style-position: outside;
	margin-left:14px;
	margin-bottom: 10px;
}
	
.b1-bico-key-point-list-grid ,.b1-bico-key-point-list-grid2 ul{

}	
	
li#b1-bico-key-points-drilldown {
	cursor: pointer;
	font-size: 14px;
	margin-bottom:4px;
}

#b1-bico-list-row{
	color: #53B2F5;
}
.b1-bico-contact-container{
	display: flex;
}
#b1-drill-twoLine{
	box-sizing:border-box;
	border: 1px solid transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	height: 17px;
	left: 0;
	line-height: 17px;
	position:absolute;
	top: 1px;
}
#b1-drill-twoLine:hover{
	border: 1px solid #FFFFFF;
	cursor: pointer;	
}
/*.b1-bico-toc-financial-section ul*/